.about{
  background-image: url("/assets/images/about.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
}

p{
  font-size: 18px;
}

.bg-i{
  background-color: #c5bbb8b6;
}
