<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 about d-flex justify-content-center">
      <div class="bg-i align-self-center" style="width: 120px ; height:120px; border-radius: 50%; position: relative; ">
        <i class="fa fa-play" style="position: absolute; margin-top: 30px; margin-left: 37px; font-size: 62px; color: #FFFFFF" ></i>
      </div>
    </div>
    <div class="col-12 col-md-6 p-4">
      <h3 class="my-4">Qui sommes-nous ?</h3>
      <p class="">GLOBAL RH est un Cabinet d'intérim, de <br>placement et de suivi de personnels qui permet <br>aux entreprises d'atteindre leurs performances et <br>de s'adapter aux<br><br>Changements technologiques du marché de <br>l'emploi. Sa principale mission c'est d'intervenir <br>sur l'ensemble des activités liées aus Ressources <br>Humaines.</p>
    </div>
  </div>
</div>
