<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white px-5">
  <a class="navbar-brand" href="/">
    <img src="assets/images/logo.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li *ngFor="let m of menus" class="nav-item active" >
        <a class="nav-link" [class.btn-p]="m.label == 'Déposer votre CV'" [class.btn]="m.label == 'Déposer votre CV'" href={{m.link}}>{{m.label}}</a>
      </li>
    </ul>
  </div>
</nav>
