<div class="container-fluid mt-3 mb-3 me-auto">
    <div class="row">
        <div class="col-12 col-md-3  card">
            <h2>Nos secteurs d'intervention</h2>
            <p>
                Médicale, Pharmaceutique
                Batiment, Travaux Publics
                Hotellerie et Restauration
                Banque et Assurances
                Energie et Technologie
                Télécommunication
                Transport et Logistique
                Grande distribution
                Manutention
                Industrie

            </p>
        </div>
        <div class="col-12 col-md-4 card">

            <h2> Nos prestations(services)</h2>

            <p>
                LA GESTION DES RESSOURCES HUMAINES:
                Mise à dispositions de personnels compétents
                Gestion Administrative des missions et de l'agence
                Gestion et contrôle de la paie
                Gestion des risques liés aux personnels
                Assurer le Suivi commercial et Technique du personnel RH
                Oeuvre pour la politique de pévention des risques professionnels Gérer l'acceuil des Salariés
                intérimaires
                Appliques la législation du travail temporaire
                LE RECRUTEMENT DU PERSONNEL POUR TOUT SECTEUR:
                Recruter des cadres de tout niveau selon vos besoins
                Recruter des personnels de toutes qualifications pour votre entreprise
            </p>
        </div>
        <div class="col-12 col-md-4 card">
            <h2>Solution de gestion pour DRH/DAF</h2>
            <p>
                Les bénéfices de l'externalisation de la gestion
                RH : Souplesses
                Réactivité
                Tranquilité
                Gains Financiers
                Maitrise de la Masse Salariale
                Outil d'Evalution à llintégration
                Plus de contentieux sociaux à gérer
                Vous décharge des taches chronophages
                Vous permet de vous consacrer à votre coeur de métier
            </p>
        </div>

    </div>
</div>