h2{
    background-color: #4a5760;
    color: white;
    border-radius: 2px;
    width: 100%;
    text-align: center;
}

.card{
    background-color: #f1eceb;
    border-radius: 14px;
    margin-left: 1.5%;
    margin-bottom: 5px;
    
}