<div class="container mb-5" style="min-height: 50vh; margin-top: 120px;">
  <h4 style="font-size: 32px;" class="mb-4">Laissez les recruteurs vous trouver !</h4>
   <div class="row">
      <div class="col-12 col-md-7 bg">

      </div>
      <div class="col-12 col-md-5 text-center">
        <p>Charger votre CV</p>
           <label for="upload">
            <input type="file" id="upload" />
            <i class="fa fa-upload"></i>
           </label>
           <div class="mt-5 ml-5">
            <form action="">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Nom Complet">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <button class="btn btn-block mt-5 btn-p">Envoyer</button>
            </form>
           </div>

      </div>

   </div>
</div>
