<div class="container mt-4 mb-5 contact">
    <div class="row">

        <div *ngFor="let n of newletter" class="col">
            <h5 class="text-center">{{n.title}}</h5>
            <h6 class="text-center">{{n.message}}</h6>

            <form [formGroup]="letterForm">
                <div class="form-group mt-5">

                    <input type="email" class="form-control col-12 col-md-5 " id="email" placeholder="EMAIL">
                </div>
                <button type="submit" class="btn btn-p" (click)="sendMesssage">Envoyer</button>
            </form>

        </div>









    </div>
</div>