button,input{
    margin-top: 20px;
    
}

.contact{
    background-image: url(../../../../assets/images/OP1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    
    background-size: cover;
   
    
    
}
