<div class="container-fluid">
    <div class="row">


        <div class="col">
            <div>
                <h3>QUI SOMMES NOUS </h3>

                <p>GLOBAL RH est un Cabinet d'intérim, de placement et de suivi de personnels qui permet aux
                    entreprises
                    d'atteindre leurs performances et de s'adapter aux changements technologiques du marché de
                    l'emploi.
                    Sa principale mission c'est d'intervenir sur l'ensemble des activités liées aux Ressources
                    Humaines.</p>
            </div>

            <div>
                <h3>VOUS ÊTES:</h3>
                <p>
                    Entreprise nationale ou structure (Direction, Agence, Ministère, Office et Collectivités locales)
                    ONG et Association
                    Organisme International
                    DECOUVREZ AVEC GLOBAL RH, LES DIMENSIONS DE LA TRANSFORMATION DE VOS RESSOURCES
                    HUMAINES
                </p>
            </div>

            <div>
                <h3>VOUS VOULEZ</h3>
                <p>
                    Atteindre vos objectifs de performance
                    Doper votre croissance
                    Accélérer votre développement
                </p>
            </div>

            <div>
                <h3>NOTRE CREDO</h3>
                <p>
                    Etre votre partenaire de choix qui vous accompage dans la transfromation de vos ressoures humaines


                </p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="../../../../assets/images/Capture web_31-10-2022_125448_globalrh-7095b.web.app.jpeg" alt="">
        </div>
    </div>
</div>