/* You can add global styles to this file, and also import other style files */

body{
  background-color: #f4f4f4;
}

.bg-r{
 background-color: rgb(196, 5, 86);
}

.bg-b{
 background-color: rgb(40, 76, 175);
}

.bg-g{
  background-color: #058BA3;
}

